<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Report</title>
  </head>
  <body>
    <table>
      <tr>
        <td>Date</td>
        <td>Section</td>
        <td>Daks Received</td>
        <td>Daks Disposed</td>
        <td>Efficiency</td>
      </tr>
      <tr>
        <td><%= date %></td>
        <td><%= section %></td>
        <td><%= received %></td>
        <td><%= disposed %></td>
        <td><%= (disposed/received)*100 %></td>
      </tr>
    </table>
  </body>
</html>
